html, body, div, ul {
	margin: 0;
	padding: 0;
}

body {
        font-family: 微软雅黑, 黑体;
        width: 830px;
        background: url("../img/bg/album.png") no-repeat, url("../img/bg/bg_diagonal_p.gif");
      }
	  
#content {
	width: 830px;
	margin: 40px auto 0 auto;
	padding: 0 20px 10px 20px;
	border: solid 1px #cbcbcb;
	background: rgba(255, 255, 255, 0.8);
	-moz-box-shadow: 0px 0px 10px #cbcbcb;
	-webkit-box-shadow: 0px 0px 10px #cbcbcb;
}

p {
	margin: 0;
	padding: 7px 0;
}

a {
	outline: none;
}

a img {
	border: 0;
	padding: 0;
	margin: 0;
	vertical-align: top;
}

a img.last {
	margin-right: 0;	
}
